<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linksyi.branchdatabasebranchtable.mapper.UserMapper">

    <select id="queryUserDetailsByIds" resultType="map">
        select * from user t
        left join user_item t1 on t.id = t1.user_id
        <where>
            <if test="ids != null and ids.size() > 0">
                t.id in
                 <foreach collection="ids" item="id" open="(" close=")" separator=",">
                     #{id}
                 </foreach>
            </if>
        </where>
    </select>
</mapper>